* {
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.8em;
  }
  h3 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.3em;
  }
  ul {
    list-style: none;
  }
  li {
    font-size: large1.25em;

  body{
      margin: 0;
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

  }
  :root{
    accent-color: salmon;
    accent-color: rgb(246, 142, 130);
    text-decoration-color: white;
  }
  
  a{
    text-decoration: none;
    color: var(--text-decoration-color);
  }
  
  a:hover:not(#cart){
    color: var(--accent-color);
  }
  
  button {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 15px;
    border: 2px solid salmon;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: salmon;
  }

  header nav img{
    height: 25px;
  }

  .container {
    max-width: 1400px;
    margin: auto;
  }
  
  header {
    background-color: rgba(245, 245, 245);
    padding: 10px 0;
  }

  header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    font-size: 1.6em;
    color: salmon;
  }

  header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }


  header nav div{
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
   }
  
  header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }

  cuenta-carrito{
    background-color: var(--accent-color);
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
  }

  #logo-carrito{
    height: 40px;
  }



  #logo-enamorarte {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: salmon;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("img/logo-enamorarte.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  #logo-enamorarte h1 {
    color: white;
  }
  #logo-enamorarte button {
    font-size: 1.8em;
  }
  #somos-enamorarte .container {
    text-align: center;
    padding: 200px 12px;
  }
  #nuestra-tienda {
    background-color: salmon;
    color: white;
    text-align: center;
  }
  #nuestra-tienda .container {
    padding: 140px 12px;
  }
  
  #nuestra-tienda h2 {
    margin-top: 0;
    font-size: 3.5em;
  }
  #nuestra-tienda p {
    display: none;
  }
  #nuestra-tienda .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
  }
  
  .carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      )
      ,url("img/didactico_pesca.jpg");
  }

  .carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      )
      ,url("img/libreria_agendas.jpeg");
  }
  .carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      )
      ,url("img/box_pascuas.jpeg");
  }
  #Asesoramiento .container {
    text-align: center;
    padding: 160px 12px;
  }
  #Asesoramiento li {
    margin: 16px 0px;
    font-weight: bold;
  }
  #Consultanos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 80vh;
  }
  #Consultanos h2 {
    font-size: 9vw;
  }
  #Consultanos button {
    font-size: 5vw;
  }
  footer {
    background-color: rgb(220, 220, 220);
  }
  footer p {
    margin: 0;
    padding: 10px;
    color: (100, 100, 100);
  }
  footer .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  @media (min-width: 850px) {
    header {
      position: fixed;
      width: 100%;
    }
  }
  header .container {
    flex-direction: row;
    justify-content: space-between;
  }
  header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
  }
  #somos-enamorarte .container {
    display: flex;
    justify-content: space-evenly;
  }
  #somos-enamorarte .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #somos-enamorarte h2 {
    margin-top: 0%;
  }
  #somos-enamorarte .imagenes-container {
    background-image: url("img/didactico_arcoiris.jpg");
    background-size: cover;
    background-position: center center;
    height: 450px;
    width: 400px;
  }
  #nuestra-tienda .tienda {
    justify-content: center;
  }
  #nuestra-tienda p {
    display: block;
    margin-bottom: 30px;
  }
  #nuestra-tienda h3 {
    margin-top: 0;
  }
  #nuestra-tienda .carta {
    padding: 15px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(80, 80, 80, 1);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
  #Asesoramiento {
    background-image: url("img/enamorarte_frases.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;
  }
  #Asesoramiento .container {
    text-align: initial;
  }
  #Asesoramiento ul {
    margin-left: 100px;
  }
 
  #consultanos h2 {
    font-size: 5em;
  }
  footer .container {
    justify-content: flex-end;
  }
  
  @media (min-width: 1400px) {
    #Asesoramiento {
      background-position-x: calc(100vw - 800px);
    }
  }
  
  /* botón flotante de WhatsApp */
.float {
    position: fixed;
    width: "60px";
    height: "60px";
    background-color: #25d366; /* Color de fondo del botón */
    bottom: 40px; /* Distancia desde abajo */
    color: #fff; /* Color del texto */
    border-radius: 50%; /* Forma redondeada */
    text-align: center; /* Alineación del texto */
    right: 40px; /* Distancia desde la derecha */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    z-index: 100; /* Nivel de profundidad */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Altura del botón */
    line-height: 60px; /* Altura de línea */
    font-size: 24px; /* Tamaño de fuente */
    text-decoration: none; /* Sin subrayado */
}

.fa-whatsapp{
    font-size: "60px";
}
.float:hover {
    background-color: #128c7e;
}  
    
    
   
    



